* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

:root {
  --color-header       : #131921;
  --color-border       : #3b4149;
  --color-search       : #febd69;
  --color-header-bottom: #232f3e;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  display        : inline-block;
}

.form-control:focus {
  box-shadow  : none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

/* Header Part */
.header-top-strip {
  background-color: var(--color-header);
  border-bottom   : 1px solid var(--color-border);
}

.header-upper {
  background-color: var(--color-header);
}

.header-upper .input-group .input-group-text {
  background-color: var(--color-search);
}

.header-upper .header-upper-links img {
  width : 35px;
  height: 35px;
}

.header-bottom {
  background-color: var(--color-header-bottom);
}

.header-bottom .menu-link a,
.header-bottom .dropdown button {
  color         : white;
  font-size     : 14px;
  line-height   : 18px;
  font-weight   : 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-header-bottom);
  width           : 100%;
  transform       : translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding      : 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-border);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color           : var(--color-search) !important;
}

/* Header Part End */

/* Footer Part */
footer {
  background-color: var(--color-header-bottom);
}

footer:not(:first-child) {
  border-top: 1px solid var(--color-border);
}

footer .input-group-text {
  background-color: var(--color-header-bottom);
  color           : white;
  padding         : 8px 17px !important;
}

/* Footer Part End */